@font-face {
	font-family: 'Branch';
	src: url('BRANCH.OTF') format('opentype'),
	     url('BRANCH.TTF') format('truetype');
  }
  

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Branch', Branch;
}

.bordar{
	border-radius: 2px;
}

body{
	background-color: #f4f6f7;
	margin-top: 20px;
}
section{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
	width: 80vw;
	background-color:#283859;
	padding: 30px;
	margin: auto;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

section picture img{
	width: 100%;
	height: auto;
	filter: grayscale(99%);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

section .subt, h1{
	padding: 10px;
	font-size: 42px;
	font-weight: 900;
	color: black;
	background-color: #f4f6f7;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

section h2{
	font-size: 21px;
	margin-bottom: 20px;
	padding: 10px;
	color: black;
	background-color: #f4f6f7;
	letter-spacing: 1px;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	margin-bottom: 30px;
}

picture{
	width: auto;
	height: auto;
	padding: 8px 8px 35px 8px;
	background-color: #f4f6f7;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.barra{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	width: 40px;
	background-color: #283859;
	margin: 0 auto;
}

.container2{
	display: flex;
	flex-direction: column;
}

.paragrafo{
	
	width: 77vw;
	font-size: 21px;
	text-align: justify;
	font-weight: 600;
	padding: 10px;
	color: black;
	background-color: #f4f6f7;
	letter-spacing: 1px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.barrap{
	align-self: flex-start;
	margin-left: 30px;
	height: 60px;
	width: 10px;
	background-color: #f4f6f7;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.barrapp{
	align-self: flex-end;
	margin-right: 30px;
	height: 60px;
	width: 10px;
	background-color: #f4f6f7;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.paragrafo2{
	width: auto;
	height: auto;
	background-color: #f4f6f7;
	
}

.container3{
	display: flex;
	flex-direction: column;
}

.container3 ul{
	list-style-type:none;
	font-size: 20px;
	font-weight: 600;
	padding: 15px;
}

.p1{
	width: 50vw;
	align-self: flex-start;
	border-left: solid 10px #1c1b32;
	border-radius: 5px 2px 2px 5px;
}

.p2{
	width: 50vw;
	text-align: end;
	align-self: flex-end;
	border-right: solid 10px #1c1b32;
	border-radius: 2px 5px 5px 2px;
}

.p3{
	width: 50vw;
	align-self: flex-start;	
	border-left: solid 10px #1c1b32;
	border-radius: 5px 2px 2px 5px;
}

.p4{
	width: 50vw;
	text-align: end;
	align-self: flex-end;
	border-right: solid 10px #1c1b32;
	border-radius: 2px 5px 5px 2px;
}

.p5{
	width: 50vw;
	align-self: flex-start;
	border-left: solid 10px #1c1b32;
	border-radius: 5px 2px 2px 5px;
}

.p6{
	width: 50vw;
	text-align: end;
	align-self: flex-end;
	border-right: solid 10px #1c1b32;
	border-radius: 2px 5px 5px 2px;
}

.p7{
	width: 50vw;
	align-self: flex-start;
	border-left: solid 10px #1c1b32;
	border-radius: 5px 2px 2px 5px;
}

.p8{
	width: 50vw;
	text-align: end;
	align-self: flex-end;
	border-right: solid 10px #1c1b32;
	border-radius: 2px 5px 5px 2px;
}

.barra5{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 5px;
	background-color:#f4f6f7;
	margin: 0 auto;
}

.subt{
	margin-bottom: 30px;
}

.saiba{
	color: #f4f6f7;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

.botao{
	display:flex;
	align-items: center;
	justify-content: center;
	color: #1c1b32;
	background-color: #f4f6f7;
	width: 100px;
	height: 60px;
	border-radius: 30px;
	font-weight: bold;	
	transition: all 1s;
}

.botao:hover{
	text-decoration: solid 1px #000000;
}

.container4{
	width: 100%;
}

.feito{
	text-align: center;
	color: #1c1b32ca;
	font-weight: 600;
}

.sub{
	display: inline-block;
	border-bottom: 2px solid #1c1b3263;
	border-radius: 3px;
}
